@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}



<hgroup class="title">
    <h1 class="error">CATASROPHIC Error.</h1>
    <h2 class="error">WOAH. We messed up.</h2>
</hgroup>
