@model OdeToFood2.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home page";

}


<h1>All Restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<a asp-action="Create">Add Restaurant</a>foreach
<div>

    @section footer {
        @Model.CurrentMessage
    }
</div>
